$def with (greeting)


$if greeting:
  I just wanted to say <em style="color: green; font-size: 2em;"><b>$greeting<b/></em>.
  <br>
  <a href='https://www.ubertrainingprograms.com'> <img src="https://cf.ltkcdn.net/cats/images/orig/211655-2121x1414-Kitten-peeking.jpg"> <a/>
  <br>
  <a href='https://www.ubertrainingprograms.com'>blaaaaa!</a>
$else:
  <em>Hello</em>, world!
