$def with (x)



<img src="https://images4.alphacoders.com/774/77408.jpg" width='1920' height='1080' alt='planets' usemap='#r'>
<center><h1>Fill out this formaaaaaaaaa $x</h1></center>
<br /><br /><br />
<center><form method="POST">
  A greeting: <input type="text" name="greet"
  <br/>
  Your name: <input type="text" name="name"
  <br/>
  <input type="submit">
</form></center>
<form action='/hello' method="POST" enctype="multipart/form-data">
  <div>
    <label for='pic'>choose filealay</label>
    <input type="file" id='pic' name='pic'
      accept='.jpg, .jpeg, .png'>
  </div>
  <div>
    <button>submit</button>
  </div>
</form>
