$def with (room, session)

<center>
<h1><b> $room.name </b><h1>

<pre>
$room.description
</pre>

$if room.name == "death":
    <p><a href="/">Play Again?</a></p>
$elif session is not None:
  <p>
    <form action="/game" method="POST">
      <input type="text" name="action"> <input type="SUBMIT">
    </form>
  </p>
$else:
  <p>
    <form action="/game" method="POST">
      <input type="text" name="action">
    </form>
  </p>
$if session == None:
  <p>
    <form action="/game" method="POST">
      <p>In order to track your score</p>

      Login or Create login <input type="text" name='user'>
      Password <input type='text' name='pass'>
      <input type="SUBMIT">
    </form>
  </p>
$else:
  $pass
